[Desktop Entry]
Name=XtreemTest
GenericName=XtreemTest
Comment=Multiplayer infinite-world block sandbox
Exec=xtreemtest
Icon=xtreemtest
Terminal=false
PrefersNonDefaultGPU=true
Type=Application
Categories=Game;Simulation;
StartupNotify=false
Keywords=sandbox;world;mining;crafting;blocks;nodes;multiplayer;roleplaying;
